body{
    font-family: "Times New Roman";
    font-size: 17px;
    background: #a9a9a9;
    color: #ffffff;
}

h3{
    position:center;
}

form{
align-content: center;
    position:absolute;
    width: 18%;
    height: 40%;
    top:35%;
    left:40%;
    right:40%;
    background: #535353;
   border-radius:15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    color: #5edaff;
}
form .field .show{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: none;
    user-select: none;
}
